<footer class="page-footer teal">
<div class="footer-copyright">
            <div class="container">
    <p class="copyright">&copy; {{now|date('Y')}} by {{bloginfo('name')}}</p>
    </div>
    </div>
</footer>