<footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">The Team</h5>
                <ul class="grey-text text-lighten-4">
                    <li><a class="grey-text text-lighten-3" href="#!">Anthony</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Nick</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Brian</a></li>
                </ul>
              </div>
              <div class="col l4 s12 l4">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Write A Post</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Our Stuff</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                </ul>
              </div>
            </div>
          </div>
<div class="footer-copyright">
            <div class="container">
    <p class="copyright">&copy; {{now|date('Y')}} by {{bloginfo('name')}}</p>
    </div>
    </div>
</footer>